img{
	height: 300px;
	padding: 15px;
	border-radius: 50px;
	border-style: solid;
}
img:hover{
	opacity: -1;
}
body{
	background-color: black;
	color: white;
	text-align: center; 
	font-family: sans-serif;
	margin: 100ox;
}
table{
	margin-left: auto;
	margin-right: auto;
}
h1{
	text-transform: uppercase;
	letter-spacing: 12px;
}
